.app-container {
    display: grid;
    grid-template-columns: var(--width-primary-sidebar) var(--width-secondary-sidebar) 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-ui);
    user-select: none;
    /* UI is not text-selectable generally, except editor */
    overflow: hidden;
}